/*https://css-tricks.com/snippets/css/complete-guide-grid/*/
/*==============*/
body {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    /* extra: achtergrond met kleurovergang */
    /*background-image: linear-gradient(90deg, var(--backgrd), lightskyblue);*/
}

.gheader {
    grid-area: header;
}

.gmain {
    grid-area: main;
}

.gfooter {
    grid-area: footer;
}

.gridcontainer {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer";

    grid-gap: 5px;
}

.panel {
    border-radius: 5px;
    border: solid brown 1px;
    padding: 10px;
}

/*** Formulier ***/
/*===============*/
/***** Start hier de CSS voor Bedreiging: Formulier spotting *****/



