/*https://css-tricks.com/snippets/css/complete-guide-grid/*/
/*==============*/
body {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    /* extra: achtergrond met kleurovergang */
    /*background-image: linear-gradient(90deg, var(--backgrd), lightskyblue);*/
}

.gheader {
    grid-area: header;
}

.gmain {
    grid-area: main;
}

.gfooter {
    grid-area: footer;
}

.gridcontainer {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer";

    grid-gap: 5px;
}

.panel {
    border-radius: 5px;
    border: solid brown 1px;
    padding: 10px;
}

/*** Formulier ***/
/*===============*/
/***** Start hier de CSS voor Bedreiging: Formulier spotting *****/

fieldset {
    border-radius: 5px;
}

fieldset div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    flex-wrap: wrap;
    align-items: center;
}

fieldset div input, fieldset div select {
    flex-grow: 1;
    max-width: 50%;
}

input, textarea, select{
    font-family: "Poppins", sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

fieldset div label {
    margin-bottom: 5px;
}

fieldset div textarea{
    width: 100%;
    height: 100px;
}