.grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 5fr 2fr;
    grid-template-areas:
            "header header"
            "main aside"
            "footer footer";
}

.border {
    border-radius: .5rem;
    border: 1px solid var(--russet);
    padding: .5rem;
}

.gheader {
    grid-area: header ;
}

.gmain {
    grid-area: main;
}

.gaside {
    grid-area: aside;
}

.gfooter {
    grid-area: footer;
    text-align: center;
}

aside img{
    width: 100%;
}

/* img-label */
.img-label {
    position: relative;
}

.img-label span {
    display: block;
    position: absolute;
    top: 1rem;
    right: 0;

    padding: 3px;

    font-size: 130%;
    background-color: var(--bone);
    border: var(--russet) solid 1px;

    text-transform: uppercase;

    transition: transform 300s ease-out;

}

.img-label:hover span {
    transform: scale(10) rotate(360000deg);
    /*transform-origin: top right;*/
}